@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "variables";
@import "../bower_components/neat/app/assets/stylesheets/neat";

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    a {
      text-decoration: none;
      color: black;
    }
}

div.wrapper {
  @include outer-container(100%);
}
.hide {
  display: none;
}

  ///////////////////////////////
 //         HERO              //
///////////////////////////////

section.hero {
  @include outer-container(100%);
  background: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(74, 61, 55, 0.65)
    ), url('../images/bg.png') no-repeat center center;
  background-position: 45% 0%;
  background-size: cover;
  padding: 10px;
  color: white;
  header {
    @include span-columns(12);
    width: 100%;
    a {
      color: white;
      font-size: .8em;
      margin: 25px;
      transition: color .3s ease;
      &:hover {
        color: $base01;
        transition: color .3s ease;
      }
    }
    button {
      background: white;
      color: $title;
      border: 1px solid $border;
      border-radius: 3px;
      padding: 10px 20px;
      font-size: .8em;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      transition: all 0.5s ease;
      &:hover {
        color: white;
        background: $title;
        border: 1px solid #CE4524;
        transition: color 0.3s ease, background 0.5s ease;
      }
    }
    &::after {
      display: block;
      content: "";
      clear: both;
    }
    img {
      @include span-columns(2 of 12);
      height: 55px;
      width: 50px;
      margin-right: 0;
    }
    nav {
      @include span-columns(10 of 12);
      text-align: right;
      float: right;
    }
  }
  h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    text-align: center;
    font-weight: lighter;
    line-height: 1.2;
  }
  h1 {
    @include span-columns(10 of 12);
    @include shift(1);
    margin-top: 25%;
    margin-bottom: 0;
  }
  h2 {
    @include span-columns(12 of 12);
    font-size: 1.2em;
    line-height: normal;
    margin-bottom: 15%;
  }
  form {
    @include span-columns(12);
    input {
      width: 100%;
    }
    figure {
      position: relative;
    }
    img.arrow {
      position: absolute;
      z-index: 99;
      left: 115px;
      top: 500px;
      width: 15px;
    }
    img.arrow.right {
      left: 275px;
    }
    select {
      background: #fff url("../images/arrow.png") no-repeat 90% 50%;
      background-size: 8%;
      width: 48%;
      padding: 20px;
      margin-top: 10px;
      border: 0;
      border-radius: 3px;
      -webkit-appearance: none;
      padding-left: 30px;
      color: black;
    }
    input, select {
      padding: 20px 0 20px 10px;
      border-radius: 3px;
      border: 1px solid $border;
      font-size: 1em;
      color: $info;
      font-family: 'Lato', sans-serif;
    }
    select.location {
      margin-right: 2%;
    }
    button {
      width: 100%;
      background: $base01;
      color: white;
      font-size: 1em;
      border: 1px solid $base02;
      font-weight: 500;
      padding: 21px 1px;
      border-radius: 3px;
      margin: 10px auto 30px;
      font-family: 'Lato', sans-serif;
      transition: background 0.3s ease;
      &:hover {
        background: $base02;
        transition: background 0.3s ease;
      }
    }
  }
}

  ///////////////////////////////
 //         MAIN              //
///////////////////////////////

main.featured {
  @include outer-container(90%);
  padding-bottom: 100px;
  nav.filters {
    @include span-columns(12);
    margin: 30px 0 20px 5px;
    .active {
      border-bottom: 3px solid $base01;
      padding-bottom: 5px;
    }
    a {
      font-size: .9em;
      margin-right: 20px;
    }
  }
  .events {
    @include span-columns(12);
    width: 100%;
    margin: 1%;
    article.event {
      @include span-columns(12);
      margin: 20px auto;
      img {
        width: 100%;
        height: 260px;
        // width: 260px;
        object-fit: cover;
      }
      p.category {
        color: $info;
        text-transform: uppercase;
        font-size: .75em;
      }
      p.title {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em;
        color: $title;
        padding-bottom: 16px;
        margin: 0;
        border-bottom: 1px solid $border;
      }
      div.location, div.price {
        @include span-columns(6 of 12);
        display: inline-block;
        p.range, p.city {
          font-family: 'Open Sans', sans-serif;
        }
      }
      div.location {
        text-align: right;
        padding-right: 15px;
      }
      div.price {
        border-left: 1px solid $border;
        padding-left: 15px;
      }
    }
  }
  button {
    margin: 0 auto;
    display: block;
    color: $base01;
    border: 1px solid $border;
    border-radius: 3px;
    background: none;
    font-weight: 700;
    padding: 15px 50px;
    font-size: .9em;
    transition: color 0.3s ease, background 0.3s ease;
    &:hover {
      color: white;
      background: $base01;
      border: 1px solid $base02;
      transition: color 0.3s ease, background 0.3s ease, border 0.3s ease;
    }
  }
}

  ///////////////////////////////
 //         FOOTER            //
///////////////////////////////

footer {
  @include outer-container(100%);
  border-top: 1px solid $border;
  text-align: center;
  padding: 30px 0;
  img {
    height: 30px;
    margin: 0 5px;
  }
  p, a {
    color: $info;
    font-size: .9em;
    font-family: 'Open Sans', sans-serif;
  }
  a {
    text-decoration: underline;
    margin-left: 10px;
  }
}

@import "responsive";
